<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button (click)="cart()">
        <ion-icon
            src="../../../assets/icon-image/shopping-cart.svg"
        ></ion-icon>
        </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="locationContent">
      <img src="../../assets/image/location.png" />
      <div class="textContent">
        <h2 class="location">
          {{userAddress?.address_type ? userAddress?.address_type:
          'Loading...'}}
        </h2>
        <p class="address">
          {{userAddress?.soc_name}} {{userAddress?.street}}
          {{userAddress?.city}} {{userAddress?.zipcode}}
        </p>
      </div>
    </div>
  </ion-toolbar>
  <ion-searchbar
    placeholder="Search for Products"
    clearIcon="close-circle"
    [(ngModel)]="term"
  ></ion-searchbar>
</ion-header>

<ion-content class="ion-padding-bottom grocery_content" *ngIf="!isfood">
  <div class="offer_div" *ngIf="grocery?.coupon?.length > 0">
    <img [src]="grocery?.coupon[0].imagePath + grocery?.coupon[0].image" />
    <div class="detail_div">
      <h3 class="discount">{{grocery?.coupon[0].discount}} % discount</h3>
      <p class="text_lbl">{{grocery?.coupon[0].description}}</p>
    </div>
  </div>

  <h3 class="main_lbl">
    {{"store_detail.category" | translate}} {{data.currency}}
    <ion-button class="trans-btn more_btn" (click)="viewMoreCategory()"
      >View All
    </ion-button>
  </h3>
  <div class="categories_div">
    <div
      class="product_div"
      *ngFor="let item of data.category | filter:term"
      (click)="subcategory(item?.id)"
    >
      <img [src]="item?.imagePath + item?.image" />
      <h3 class="name">{{item?.name}}</h3>
    </div>
  </div>
  
  <h3 class="main_lbl">
    {{"store_detail.product" | translate}}
    <ion-button class="trans-btn more_btn" (click)="viewMore()"
      >{{"store_detail.view_more" | translate}}
    </ion-button>
  </h3>
  <div class="trending_div">
    <div class="product_div" *ngFor="let item of data?.product | filter:term">
      <div class="img_div" (click)="storeDetail(item?.id)">
        <img [src]="item?.imagePath + item?.image" />
      </div>
      <h3 class="name">
        {{item?.name |slice:0:20}}
        <span *ngIf="item?.name?.length >20">..</span>
      </h3>
      <p class="qunty vote">
        {{item?.weight}}
        <!--     {{item?.categoryName}} -->
      </p>
      <div class="btn_div">
        <div class="qty_div">
          <ion-button class="add_btn trans-btn" (click)="remove(item)">
            <ion-icon src="../../../assets/icon-image/minus-sign.svg">
            </ion-icon>
          </ion-button>
          <p class="qty_p">
            {{item?.qty}}
          </p>
          <ion-button class="add_btn trans-btn" (click)="AddCart(item)">
            <ion-icon src="../../../assets/icon-image/plus-signs.svg">
            </ion-icon>
          </ion-button>
        </div>
        <p class="price">{{currency}}{{item?.sell_price}}</p>
      </div>
    </div>
  </div>
</ion-content>
